#heading{
    text-align: center;
}

#Category{
    width: 10%;
    text-align: center;
    display: block;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;

}
#quote{
    height: 50%;
    width: 50%;
    margin: auto;
    border: 2px solid green;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;

}

#generate{
    display: block;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;

}